@*<div class="row">
 

    <div class="dataTables_info dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
        <ul id="ul_paging" class="pagination"></ul>
    </div>

</div>*@

<div class="row">   
    <div class="col-xs-12">
        <div class="dataTables_paginate paging_bootstrap   dataTables_info paging_simple_numbers" id="dynamic-table_paginate">
            <ul id="ul_paging" class="pagination"></ul>
        </div>
    </div>
</div>