@{
    ViewBag.Title = "Detail";
}



<div class="row">
    <div class="col-md-12">
        <h4 class="timeline-month"><span>November</span> <span>2013</span></h4>
        <ul class="timeline">
            <li class="timeline-orange">
                <div class="timeline-icon"><i class="fa fa-camera"></i></div>
                <div class="timeline-body">
                    <div class="timeline-header">
                        <span class="author">Posted by <a href="#">David Tennant</a></span>
                        <span class="date">Monday, November 11, 2013</span>
                    </div>
                    <div class="timeline-content">
                        <h3>Lorem Ipsum Dolor Sit Amet</h3>
                        <p>
                            <img src="~/Content/demo/images/thmb_nature_rider.jpg" alt="" class="pull-left">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores
                            architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur
                            suscipit! Quasi, officia, veniam mollitia recusandae iure aperiam totam culpa aut nobis eveniet porro laborum quisquam non.
                        </p>
                    </div>
                    <div class="timeline-footer">
                        <a href="#" class="btn btn-default btn-sm pull-left">Read Full Story</a>
                    </div>
                </div>
            </li>
            <li class="timeline-warning">
                <div class="timeline-icon"><i class="fa fa-pencil"></i></div>
                <div class="timeline-body">
                    <div class="timeline-header">
                        <span class="author">Posted by <a href="#">David Tennant</a></span>
                        <span class="date">Monday, November 21, 2013</span>
                    </div>
                    <div class="timeline-content">
                        <h3>Consectetur Adipisicing Elit</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, officiis, molestiae, deserunt asperiores
                            architecto ut vel repudiandae dolore inventore nesciunt necessitatibus doloribus ratione facere consectetur suscipit!
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-magenta">
    <div class="panel-heading">
        <h4>Yeni mesaj</h4>
        <div class="options">
            <a href="javascript:;"><i class="fa fa-cog"></i></a>
            <a href="javascript:;"><i class="fa fa-wrench"></i></a>
            <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
        </div>
    </div>
    <div class="panel-body collapse in" style="border:dotted">
        <div class="row">
            <div class="col-md-12 cke_editable cke_editable_inline cke_contents_ltr" style="max-height:120px !important" contenteditable="true"
                 tabindex="0" spellcheck="false" role="textbox" aria-label="Zengin Metin Editörü, editor1"
                 title="Zengin Metin Editörü, editor1" aria-describedby="cke_56">
                

            </div>
        </div>
    </div>
</div>
